<div class = 'container text-center'>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Gauss Precision</th>
            <th scope="col">Range</th>
            <th scope="col">Minimal</th>
            <th scope="col">Expected</th>
            <th scope="col">Maximum</th>
          </tr>
        </thead>

        {% if data %}
        <tbody>
          <tr>
            <th scope="row">68.2%</th>
            <td>{{ data['68']['range'] }}</td>
            <td>{{ data['68']['min'] }}</td>
            <td>{{ data['68']['expected'] }}</td>
            <td>{{ data['68']['max'] }}</td>
          </tr>
          <tr>
            <th scope="row">95.5%</th>
            <td>{{ data['95']['range'] }}</td>
            <td>{{ data['95']['min'] }}</td>
            <td>{{ data['95']['expected'] }}</td>
            <td>{{ data['95']['max'] }}</td>
          </tr>
          <tr>
            <th scope="row">99.8%</th>
            <td>{{ data['99']['range'] }}</td>
            <td>{{ data['99']['min'] }}</td>
            <td>{{ data['99']['expected'] }}</td>
            <td>{{ data['99']['max'] }}</td>
          </tr>
        </tbody>
        {% endif %}
      </table>
</div>