<div class = 'container'>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Gauss Precision</th>
            <th scope="col">Range</th>
            <th scope="col">Minimal</th>
            <th scope="col">Expected</th>
            <th scope="col">Maximum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">68.2%</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">95.5%</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">99.8%</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

        <a href="">
          <button class='btn btn-primary px-4'>
            <div class = "d-inline-flex justify-content-around align-items-center">
              <i class="fas fa-plus"></i>
              <span class="align-self-center">Add Task</span>
            </div>
          </button>
        </a>
</div>