<div class='container'>

    <form action="" method="post">
        <label for="activity">Activity</label>
        <input type="text" name='activity'>
    
        <label for="critical">Critical</label>
        <input type="checkbox" name="critical">
    
        <label for="optmist">Optmist</label>
        <input type="text" name='optmist'>
    
        <label for="most_probable">Most Probable</label>
        <input type="text" name='most_probable'>
    
        <label for="pessimist">Pessimist</label>
        <input type="text" name='pessimist'>
    
        <label for="estimated_time">Estimated Time</label>
        <input type="text" name='estimated_time'>
    </form>

</div>