{% macro task_row_edit(id) %}

    <tr class='text-center'>
        <th scope='row'>
            <input placeholder="Activity" class="form-control" type="text" name='activity' required>
        </th>
        <td>

        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <a href="{{ url_for('index.update', id=task.id) }}">
                <i class="fas fa-check"></i>
            </a>
        </td>
        <td>
            <a href="{{ url_for('index.delete', id=task.id) }}">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>

{% endmacro %}